* {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    padding: 17px 29px;
    background-color: #ff4d6d;
    border: 0;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

/* Header Section */
.header-section {
    background: url(/images/donation13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-blend-mode: ;
}

.header-container {
    padding-top: 200px;
    padding-bottom: 20px;
}

.header-tittle {
    color: white;
    font-size: 85px;
}

.header-para {
    color: whitesmoke;
    margin: 30px auto;
    width: 500px;
}